<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<!-- Проверка на аутентифицированного пользователя -->
<div th:if="${#authentication != null}">
    <script th:inline="javascript">
        /* Перенаправление на главную страницу, если пользователь уже аутентифицирован */
        window.location = /*[[${'/'}]]*/ '/';
    </script>
</div>

<div>
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div>
            <input name="username" type="text" placeholder="Username" required="true"/>
            <input name="password" type="password" placeholder="Password" required="true"/>
            <button type="submit">Log In</button>
            <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>
